@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500;700&display=swap');

* {
    margin:0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: 400 14px Baloo Paaji 2, sans-serif;
    background: #1C1C1C;
    -webkit-font-smoothing: antialiased;
}

input, button, textarea {
    font: 400 18px Baloo Paaji 2, sans-serif;
}

button {
    cursor: pointer;
}

h1 {
    color:#B22222;
}